<% include header.html %>
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>个人博客</h1>
                        <hr class="small">
                        <span class="subheading">分享新技术和新事件</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%for(i=0;i<posts.length;i++){%>
                    <div class="post-preview">
                        <a href="/post/<%=posts[i].id%>">
                            <h2 class="post-title">
                                <%= posts[i].title %>
                            </h2>
                            <h3 class="post-subtitle">
                                <%= posts[i].subtitle %>
                            </h3>
                        </a>
                        <p class="post-meta">发表于:<%=strftime('%Y-%m-%d', posts[i].created_at) %></p>
                    </div>
                    <hr>
                <%}%>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="/list">全部博客 &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

<% include footer.html %>
